*{
  margin: 0;
  padding: 0;
}




.scene_container {
  width: 100%;
  height: 100vh;
  /* background: conic-gradient(rgb(182, 212, 255), rgb(0, 0, 0), rgb(146, 141, 248)); */
  touch-action: none;
  /* background-color: #0051e9;
  background-image: linear-gradient(160deg, #0051e9 0%, #a380d0 50%, #11195f 100%);
   */
   background-color: #0051e9;
background-image: linear-gradient(110deg, #2c5db7 0%, #221d3a 50%, #2a1d5a 100%);

}

.pages {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}

.pages_wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.page--hidden {
  opacity: 0;
}

.page--welcome {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.page--headband {
  position: absolute;
  max-width: 750px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.page--sounds,
.page--brandlogo {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  max-width: 600px;
  /* border: 1px solid red; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.page--brandlogo {
  left: 40%;
}
.page--battery {
  position: absolute;
  top: 50%;
  left: 75%;
  width: fit-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page--construction {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
}
h1.message.best {
  padding-top: 60vh;
  font-size: 130px;
}
.message {
  color: #fff;
  font-family: 'Anton';
  font-size: 160px;
  line-height: 160px;
  z-index: 99999;
}

.message--sub {
  padding-top: 2vh;
  font-family: 'Roboto';
  color: #ebe8e8;
  font-size: 18px;
  font-weight: 100;
}
.message--sub.soundc{
  padding-right: 15vh;
}
h1.message.--artics {
  font-size: 130px;
}
.comprar {
  /* padding: 12px 26px;
  background-color: rgb(34, 136, 226);
  color: #fff;
  outline: none;
  border: none;
  font-family: "Roboto";
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 9999;
  pointer-events: auto;
  cursor: pointer; */
  margin-top: 3vh;
  width : 15vw;
  height : 7vh;
  font-size :16px;
  text-align :center;
  line-height :10px;
  color :rgba(255,255,255,0.9);
  border-radius :50px;
  border:none;
  box-shadow: 0 5px 15px rgba(247, 201, 36, 0.4);
  background :linear-gradient(-45deg, #FFA63D, #0820f9);
  background-size: 600%;
  animation: anime 16s linear infinite;
  

}


.canvas-container {
  touch-action: pan-y; /* Allow vertical scrolling */
  overflow: auto; /* Enable scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}



/* -------------------Scroll down desktop version */
.scrolldown{
 padding-top:40%;
}
.container {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
	flex-direction: column;
}
h2.scrolld{
 margin:3vh ;
 color: #ffffff79;
 font-family: "roboto";
 font-size: 18px;
 font-weight: 100;

 
}
.arrow {
	width: 0;
	height: 40px;
	border: 1px solid #ffffff;
	position: relative;
	animation: scroll 1.5s infinite;
	-webkit-animation: scroll 1.5s infinite;
	&::after {
		content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;
    border-top: 10px solid #ffffff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

div#svg-scroll {
  display: none;
}

@media (max-width: 600px) {

  
  .scene_container {
    width: 100%;
    height: 100vh;
    background: conic-gradient(rgb(31, 46, 66), rgb(0, 0, 0), rgb(146, 141, 248));
    
}
h1.message.--artics {
  font-size: 80px;
}
.page--battery {
  left: 63%;
}
.page--sounds {
  left: 35%;
}
.page--construction {
  left: 5%;
}
.page--brandlogo {
  left: 35%;
}

  .message {
    font-size: 65px;
    line-height: 65px;

  }
  h1.message.best {
    margin-top: 60vh;
    font-size: 55px;
}
 

  .message--sub {
    display: none;
    font-size: 3px;
    padding-left: 5vh;
    padding-right: 5vh;
  }
.comprar{
  width:50vw;
  font-size: 18px;
}
/*   
  div#page-3 {
    left: 50%;
    width: 100vw;
}
  div#page-4 {
    left: 50%;
    width: 100vw;
} */


/*scrolling and swip-up */
/* .arrow-up{
  fill: transparent;
	stroke: #ffffff;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
} */
.hand-y {
	fill: #ffffffb2;
	stroke: #ffffffb2;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
/* .line-vertical{
  fill: transparent;
	stroke: #ffffff;
	stroke-width: 3px;

  
} */


.arrow-up-1{
	opacity: 0.25;
    fill: transparent;
	stroke: #ffffff;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.arrow-up-2{
	opacity: 0.5;
  fill: transparent;
	stroke: #ffffff;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.arrow-up-3{
	opacity: 0.75;
  fill: transparent;
	stroke: #ffffff;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;

	
}

@keyframes swipe-y {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(50px) rotateZ(-10deg);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-50px) rotateZ(10deg);
	}
}

@keyframes flick-fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
}
.hand-y {
	animation: swipe-y 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}

.arrows {
 
	opacity: 0;
	animation: flick-fade 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

div#svg-scroll {
  display: block;
  padding-top: 75vh;
  padding-left: 25vh;
  width: 30vw;
 
}

}